<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fnst.cloudapi.dao.common.CloudUserMapper">
	<resultMap id="BaseResultMap" type="com.fnst.cloudapi.pojo.common.CloudUser">
	    <result column="userid" property="userid" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="mail" property="mail" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="company" property="company" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="all_fields">
        userid, code, name,password,mail,phone,company
	</sql>
	
	<!-- basic super dao -->
	
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
     select <include refid="all_fields" /> from clouduser where userid=#{userid}
    </select>
    
    <insert id="insertSelective" parameterType="com.fnst.cloudapi.pojo.common.CloudUser">
		insert into clouduser ( <include refid="all_fields" /> )
		values (
		#{userid}, #{code}, #{name}, #{password},
		#{mail},#{phone},#{company}
		)
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.fnst.cloudapi.pojo.common.CloudUser">
        update clouduser set code = #{code}, name = #{name},password=#{password},
        mail=#{mail},phone=#{phone},company=#{company}
        where userid = #{userid}
    </update>
    
    <delete id= "deleteByPrimaryKey" parameterType="java.lang.String">
       delete from stockget where userid =#{userid}
	</delete>
	
	<!-- self dao -->
    <select id="countNum" resultType="java.lang.Integer">
	  select count(*) as num from clouduser
	</select>
	
    <select id="countNumByUserCode" resultType="java.lang.Integer" parameterType="java.lang.String">
	  select count(*) as num from clouduser where code =#{code}
	</select>
	
    <select id="selectList" resultMap="BaseResultMap">
      select <include refid="all_fields" />
	  from clouduser 
    </select>
    
    <select id="selectListForPage" resultMap="BaseResultMap">
      select <include refid="all_fields" />
	  from clouduser  limit #{0}, #{1}
    </select>    
    
</mapper>