<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fnst.cloudapi.dao.common.ImageMapper">
	<resultMap id="BaseResultMap" type="com.fnst.cloudapi.pojo.openstackapi.forgui.Image">
	    <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="instance_id" property="instanceId" jdbcType="VARCHAR" />
        <result column="size" property="size" jdbcType="VARCHAR" />
        <result column="created_at" property="createdAt" jdbcType="VARCHAR" />
         <result column="visibility" property="visibility" jdbcType="VARCHAR" />
    </resultMap>
    
    <sql id="all_fields">
        id, name, status,instance_id,size,created_at,visibility
	</sql>
	
	<!-- basic super dao -->
	
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
     select <include refid="all_fields" /> from images where id=#{id}
    </select>
    
    <select id="selectByInstanceId" resultMap="BaseResultMap" parameterType="java.lang.String">
     select <include refid="all_fields" /> from images where instance_id=#{instanceId}
    </select>
    
    <select id="selectListByInstanceId" resultMap="BaseResultMap" parameterType="java.lang.String">
      select <include refid="all_fields" />
	  from images where instance_id=#{instanceId}
    </select>
    
    <!-- 主键存在就进行更新操作 -->
    <insert id="insertSelective" parameterType="com.fnst.cloudapi.pojo.openstackapi.forgui.Image">
		insert into images ( <include refid="all_fields" /> )
		values (
		#{id}, #{name}, #{status}, #{instanceId}, #{size}, #{createdAt},#{visibility}
		) ON DUPLICATE KEY UPDATE status = #{status}, name = #{name},instance_id = #{instanceId},
        size = #{size},created_at = #{createdAt},visibility = #{visibility}
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.fnst.cloudapi.pojo.openstackapi.forgui.Image">
        update images set status = #{status}, name = #{name},instance_id = #{instanceId},
        size = #{size},created_at = #{createdAt},visibility = #{visibility}
        where id = #{id}
    </update>
    
    <delete id= "deleteByPrimaryKey" parameterType="java.lang.String">
       delete from images where id =#{id}
	</delete>
	
	<!-- self dao -->
    <select id="countNum" resultType="java.lang.Integer">
	  select count(*) as num from images
	</select>
	
	
    <select id="selectList" resultMap="BaseResultMap">
      select <include refid="all_fields" />
	  from images 
    </select>
    
    <select id="countNumByInstanceStatus" resultType="java.lang.Integer" parameterType="java.lang.String">
	  select count(*) as num from images where status =#{status}
	</select>
     
    <select id="selectListForPage" resultMap="BaseResultMap">
      select <include refid="all_fields" />
	  from images  limit #{0}, #{1}
    </select>    

</mapper>