<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fnst.cloudapi.dao.common.RouterMapper">

	<resultMap id="BaseResultMap" type="com.fnst.cloudapi.pojo.openstackapi.forgui.Router">
	    <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="gateway" property="gateway" jdbcType="VARCHAR" />
        <result column="floating_ip" property="floatingIp" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    </resultMap>

    
    <sql id="all_fields">
        id,name,gateway,floating_ip,status,created_at
	</sql>
	
	<!--basic super mapper -->
    
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
     select <include refid="all_fields" /> from routers where id=#{id}
    </select>
    
    
    <insert id="insertSelective" parameterType="com.fnst.cloudapi.pojo.openstackapi.forgui.Router">
		insert into routers ( <include refid="all_fields" /> )
		values (
		#{id}, #{name},#{gateway}, #{floatingIp},#{status},#{createdAt}
		)
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.fnst.cloudapi.pojo.openstackapi.forgui.Router">
        update routers set name=#{name},gateway=#{gateway},floating_ip=#{floatingIp},status=#{status},created_at=#{createdAt}
        where id = #{id}
    </update>
    
    <delete id= "deleteByPrimaryKey" parameterType="java.lang.String">
       delete from routers where id =#{id}
	</delete>
  
   <!-- self dao -->
	<select id="selectAll" resultMap="BaseResultMap">
      select <include refid="all_fields" />
	  from routers 
    </select>
     
    <select id="selectList" resultMap="BaseResultMap">
      select <include refid="all_fields" />
	  from routers 
    </select>
    
    <select id="selectAllForPage" resultMap="BaseResultMap">
      select <include refid="all_fields" />
	  from routers  limit #{0}, #{1}
    </select>  
 
</mapper>